<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--创建各种对象-->
    <!--创建数据访问层对象-->
    <bean class="cn.edu.uestc.dao.UserMapperImpl" id="uMapper"></bean>
    <!--创建业务逻辑层对象-->
    <bean class="cn.edu.uestc.service.impl.UserServiceImpl" id="uService">
        <property name="userMapper" ref="uMapper"></property>
    </bean>
    <!--创建界面层对象-->
    <bean class="cn.edu.uestc.controller.UserController" id="uController">
        <property name="userService" ref="uService"></property>
    </bean>

</beans>