<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--要记住的，这里和mybatis的核心配置文件SqlMapConfig是对应的，spring这里接管了mybatis-->

    <!--读取属性文件jdbc.properties-->
    <context:
    <!--创建数据源-->
    <!--注册mapper.xml文件-->
</beans>